/* CSS files add styling rules to your content */

body {
  
  font-family: 'Meiryo UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'Calibri','Andale Mono','Arial',sans-serif;
  background-color:White;
  align:center;
  
}

h1 {
  
  color: #ffffff;
}

.title_space
{
  background-color:black;
  margin-top:-17px;
  margin-bottom:4px;
  margin-left:-8px;
  margin-right:-20px;
  padding:3px;
}

#title
{
  color:white;
}

#network {
        background-color:#fffff;
        width:  400px;
        height: 400px;
        border: 1px solid #777777;
      }

#timeline
{
  margin-top:4px;
}

#mater {
  background: -moz-linear-gradient(left, #4b0082, #ffd700);
  background: -webkit-linear-gradient(left, #4b0082, #ffd700);
  background: linear-gradient(to right, #4b0082, #ffd700);
  /*グラデーション以外は省略*/
}

.name_box
{
    padding: 0.5em 1em;
   
    margin-top:0px;
    margin-bottom:3px;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}

.name_box p {
    margin: 0; 
    padding: 0;
}

.inline_box{
  display: inline-block;        /* インラインブロック要素にする */
  vertical-align: top;
}